<tr id="datarow-{{.ID}}" class="border-b dark:border-neutral-500">
  <td class="whitespace-nowrap px-6 py-4">{{.ID}}</td>
  <td class="whitespace-nowrap px-6 py-4">{{.Company}}</td>
  <td class="whitespace-nowrap px-6 py-4">{{.Contact}}</td>
  <td class="whitespace-nowrap px-6 py-4">{{.Country}}</td>
  <td class="whitespace-nowrap px-1 py-1">
    <a
      hx-get="/company/edit/{{.ID}}"
      hx-target="#datarow-{{.ID}}"
      hx-swap="outerHTML"
      hx-indicator="#processing"
      class="hover:underline text-blue-700"
      href=""
    >
      Edit
    </a>
  </td>
  <td class="whitespace-nowrap px-1 py-1">
    <a
      hx-delete="/company/{{.ID}}"
      hx-target="#companies"
      hx-confirm="Are you sure you want to delete {{.Company}}?"
      hx-indicator="#processing"
      class="hover:underline text-blue-700"
      href=""
      >Delete</a
    >
  </td>
</tr>
